<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Event</title>
</head>
<body>
<form action="#" th:action="@{/events}" method="post" th:object="${event}">
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect Data</p>
    <p th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Incorrect Data</p>
    <input type="text" name="name" th:field="*{name}" />
    <input type="text" name="limit" th:field="*{limit}" />
    <input type="submit" value="Create" />
</form>
</body>
</html>